# 忽略Python缓存文件夹
__pycache__/

# 忽略Jupyter Notebook检查点
.ipynb_checkpoints/

# 忽略Python字节码文件
*.pyc
*.pyo
*.pyd

# 忽略虚拟环境
venv/
env/
.venv/
.env/

# 忽略数据和模型输出
*.ckpt
*.pth
*.pt
*.h5
*.npz

# 忽略本地配置和日志
*.log
.DS_Store
__pycache__